body {
  background-image: url('onlybackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 66.67vh;
}

.container {
  text-align: center;
}

img {
  width: 100%;
  height: 40 vh;
  object-fit: cover;
  position: absolute;
  bottom: -160px;
  left: -1px;

}

.gif {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.element {
  padding-bottom: 200px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: transform 0.3s; /* Thời gian chuyển đổi */
    }

    @keyframes shake {
      0% { transform: translateX(0); }
      10% { transform: translateX(-10px); }
      20% { transform: translateX(10px); }
      30% { transform: translateX(-10px); }
      40% { transform: translateX(10px); }
      50% { transform: translateX(-10px); }
      60% { transform: translateX(10px); }
      70% { transform: translateX(-5px); 
 }
      80% { transform: translateX(5px); }
      90% { transform: translateX(-2px); 
 }
      100% { transform: translateX(0); }
    }

.onlypiano{

  width: 35%;
  height: 33.33vh;
  object-fit: cover;
  position: absolute;
  bottom: -80px;
  left: -5px;


}

.product-image {
  /* Tùy chỉnh kiểu dáng cho thẻ .product-image */
  width: 100%; /* Chiếm toàn bộ chiều rộng của thẻ cha */
  height: 200px; /* Chiều cao của hình ảnh */
  object-fit: cover; /* Bao phủ toàn bộ vùng chứa */
  border-radius: 5px; /* Bo tròn góc */
}